
@{
    ViewBag.Title = "Инструкция";
}
<div class="container">
    <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#sectionInception">Введение</a></li>
                <li><a href="#sectionRule">Положение</a></li>
                <li><a href="#sectionTmpl">Шаблоны документов</a></li>
                <li><a href="#section1">1. Регистрация пользователя</a></li>
                <li><a href="#section2">2. Вход в систему</a></li>
                <li><a href="#section2_1">2.1. Заполнение профиля организации</a></li>
                <li><a href="#section3">3. Ввод плана распределения</a></li>
                <li><a href="#section3_1">3.1. Распечатать план распределения</a></li>
                <li><a href="#section3_2">3.2. Отправить план распределения в Департамент лекарственного обеспечения при МЗ КР</a></li>
                <li><a href="#section3_3">3.3. Отправить план распределения в Министерство ТиСР КР</a></li>
                <li><a href="#section3_4">3.4. Изменить значения плана распределения</a></li>
                <li><a href="#section4">4. Выдано заключение</a></li>
                <li><a href="#section5">5. Ввести отчет о распределении</a></li>
            </ul>
        </nav>
        <div class="col-sm-9 manual">
            <header>
                <h2 class="text-center">Порядок получения заключения о гуманитарном характере груза и форма предоставления отчетности по фактическому распределению ГП</h2>
                <img src="~/Content/manuals/image002.png" class="pull-right" />
                <h3 class="text-center">Инструкция</h3>
<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp; Пошаговая инструкция ориентирована на получателей  гуманитарной помощи для первичной информационной поддержки в оформлении документальной части и ввода данных в информационную систему для успешного приема гуманитарного груза.</p>
            </header>
            <div class="section" id="sectionInception">
                <h1>Введение</h1>
                <p>@(@"Модуль учета гуманитарной помощи позволяет сотрудникам Министерства труда и социального развития КР регистрировать прием и распределение гуманитарной помощи, формировать необходимые отчеты, выставлять информацию о ввозимой на территорию КР гуманитарной помощи, на портале. Также организации-получатели смогут регистрировать удаленно заявки на оформление грузов в качестве гуманитарной помощи. Таким образом, система обеспечит прозрачность распределения гуманитарной помощи, также увеличит эффективность работы сотрудников и уменьшит время рассмотрения заявок на регистрацию гуманитарных грузов.
В рамках проекта автоматизируется информационно-аналитическая деятельность в следующих бизнес-процессах: 
1. Организации, желающие получить заключение/решение о гуманитарном характере груза, регистрируют заявку в интернет портале системы. Данные пользователи также имеют доступ для просмотра заявки и статуса заявки.
2. Сотрудники Министерства труда и социального развития Кыргызской Республики ведут учет ввоза  и распределение гуманитарной помощи, также берут на рассмотрение заявки,  с соответствующим пакетом документов на экспертизу грузов в качестве гуманитарной помощи;
3. Сотрудники Министерства чрезвычайных ситуаций осуществляют регистрацию в модуле, в установленном порядке доставленную в случаях возникновения чрезвычайных ситуаций гуманитарной помощи населению Кыргызской Республики и иностранных государств совместно с заинтересованными органами исполнительной власти, международными и неправительственными организациями;
4. Сотрудники Департамента лекарственного обеспечения и медицинской техники (далее ДЛО), на основе выданного МТСР заключения о гуманитарном характере груза, выдают письмо/справку одобрение на ввоз гуманитарной помощи в виде лекарственных средств, изделий медицинского назначения и медицинского оборудования, ведут учет и распределение гуманитарной помощи медицинского характера, также берут на рассмотрение заявки, на оформление медицинских грузов в качестве гуманитарных и производят их регистрацию в модуле
")</p>
            </div>
            <div class="section" id="sectionRule">
                <div class="act-content" style="margin-top: 25px; margin-bottom: 25px; margin-right: 25px;">
                    <div class="WordSection1">
                        <p class="MsoNormal">&nbsp;</p>
                        <table style="WIDTH: 100%; BORDER-COLLAPSE: collapse" class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 35%; PADDING-RIGHT: 5.4pt; PADDING-TOP: 0cm" valign="top" width="35%"></td>
                                    <td style="PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 34.78%; PADDING-RIGHT: 5.4pt; PADDING-TOP: 0cm" valign="top" width="34%"></td>
                                    <td style="PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 30.22%; PADDING-RIGHT: 5.4pt; PADDING-TOP: 0cm" valign="top" width="30%">
                                        <p style="LINE-HEIGHT: 115%; MARGIN-BOTTOM: 10pt" class="MsoNormal">
                                            Утверждено<br><a href="#unknown">постановлением</a> Правительства Кыргызской
                                            Республики<br>от 1 февраля 2016 года № 43
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="MsoNormal">&nbsp;</p>
                        <h2>
                            ПОЛОЖЕНИЕ<br>о порядке приема и распределения гуманитарной помощи в
                            Кыргызской Республике
                        </h2>
                        <p style="TEXT-ALIGN: center" class="MsoNormal" align="center">
                            <a name="r1"></a><b>
                                1.
                                Общие положения
                            </b>
                        </p>
                        <p class="a7">
                            (В редакции постановления Правительства КР от <a href="/act/view/ru-ru/99977?cl=ru-ru">
                                4
                                мая 2017 года № 251
                            </a>)
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            1. Настоящее Положение определяет
                            правовые и организационные основы порядка приема, учета и распределения
                            гуманитарной помощи, поступающей в Кыргызскую Республику. Юридические и
                            физические лица, международные организации, их филиалы и представительства,
                            получающие гуманитарную помощь, в своей деятельности руководствуются <a href="/act/view/ru-ru/2029013?cl=ru-ru">Конституцией</a> Кыргызской Республики, законами Кыргызской
                            Республики, актами Президента Кыргызской Республики, решениями Правительства
                            Кыргызской Республики, вступившими в установленном законом порядке в силу
                            международными договорами о гуманитарной помощи, участницей которых является
                            Кыргызская Республика, и настоящим Положением.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            2. Уполномоченный государственный
                            орган в сфере труда и социального развития Кыргызской Республики осуществляет
                            координацию порядка приема и учета распределения гуманитарной помощи, за
                            исключением гуманитарной помощи, поступающей в уполномоченный государственный
                            орган, осуществляющий управление государственным материальным резервом.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            2-1. Регистрация получателей
                            гуманитарной помощи, получивших от уполномоченного государственного органа в
                            сфере труда и социального развития заключение о гуманитарном характере груза,
                            производится в Корпоративной информационной системе социальной помощи (КИССП) и
                            информация о полученной ими гуманитарной помощи размещается на официальном сайте
                            уполномоченного государственного органа в сфере труда и социального развития
                            Кыргызской Республики, за исключением помощи, поступающей в адрес Вооруженных
                            Сил Кыргызской Республики, правоохранительных органов, органов национальной
                            безопасности и иных воинских формирований, имеющих соответствующий
                            ограничительный гриф.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <i>
                                (В редакции постановления
                                Правительства КР от <a href="/act/view/ru-ru/99977?cl=ru-ru">4 мая 2017 года № 251</a>)
                            </i>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            3. В настоящем Положении
                            применяются следующие основные понятия:
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <b>гуманитарная помощь</b> -
                            активы, безвозмездно предоставляемые государствами, организациями Правительству
                            Кыргызской Республики, органу местного самоуправления, государственной,
                            некоммерческой организации, а также нуждающемуся физическому лицу в виде
                            продовольствия, техники, снаряжения, оборудования, медицинских средств и
                            медикаментов, иного имущества для улучшения условий жизни и быта населения, а
                            также предупреждения и ликвидации последствий чрезвычайных ситуаций природного,
                            биолого-социального, конфликтного, экологического и техногенного характера, при
                            условии их дальнейшего потребления и/или безвозмездного распределения;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <b>
                                отправитель гуманитарной
                                помощи (донор)
                            </b> - иностранные государства, их органы, иностранные организации
                            и учреждения, иностранные граждане (физические лица) и международные
                            организации;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <b>получатель</b> - Правительство
                            Кыргызской Республики, органы местного самоуправления, государственные,
                            некоммерческие организации, а также нуждающиеся физические лица Кыргызской
                            Республики, международные донорские организации и их представительства и
                            филиалы, в чей адрес поступает гуманитарная помощь, для дальнейшего ее
                            распределения;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <b>потребитель</b> - юридические
                            и физические лица Кыргызской Республики, являющиеся непосредственными
                            пользователями гуманитарной помощи.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            4. Гуманитарная помощь,
                            поступившая на территорию Кыргызской Республики, до передачи ее потребителю
                            является собственностью донора.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            5. Таможенные операции в
                            отношении гуманитарной помощи совершаются в порядке, определяемом таможенным
                            законодательством Евразийского экономического союза и законодательством
                            Кыргызской Республики в сфере таможенного дела.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            6. Ввозимые на территорию
                            Кыргызской Республики грузы гуманитарного характера, а также транспортные
                            средства, доставляющие гуманитарные грузы, освобождаются от взимания налогов,
                            таможенных пошлин и сборов за совершение действий, связанных с выпуском
                            товаров.
                        </p>
                        <p class="MsoNormal">
                            Продажа гуманитарной помощи (полная или частичная)
                            запрещается. Гуманитарная помощь, поступившая целенаправленно в уполномоченный
                            государственный орган, осуществляющий управление государственным материальным
                            резервом, реализуется в соответствии с <a href="/act/view/ru-ru/204001?cl=ru-ru">Законом</a>
                            Кыргызской Республики "О государственном материальном резерве".
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            7. Гуманитарный груз должен
                            соответствовать международным и национальным стандартам качества.
                        </p>
                        <p class="MsoNormal">
                            Гуманитарный характер груза, поступающего в Кыргызскую
                            Республику в целях оказания гуманитарной помощи, определяет уполномоченный
                            государственный орган в сфере труда и социального развития в форме заключения
                            (решения). Заключение о характере гуманитарного груза выдается за подписью
                            руководителя уполномоченного государственного органа в сфере труда и социального
                            развития или его заместителя, курирующего данную сферу.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            8. К видам гуманитарной помощи
                            отнесены товары, предусмотренные Перечнем категорий товаров, в отношении которых
                            может быть установлена специальная таможенная процедура, и условий их помещения
                            под такую таможенную процедуру, утвержденным решением Комиссии Таможенного союза
                            от 20 мая 2010 года № 329, подтвержденные соответствующим сертификатом дарения
                            донора. Дарственный сертификат донора (физического лица) должен быть нотариально
                            заверенным.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Под видом гуманитарной помощи
                            запрещается ввоз алкогольной, табачной продукции, драгоценных металлов,
                            драгоценных камней, изделий из них, а также литературы религиозного характера, в
                            которой содержатся призывы к изменению конституционного строя, религиозной
                            нетерпимости, нравственных устоев общества.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Ввоз литературы религиозного
                            характера осуществляется по согласованию с уполномоченными государственными
                            органами по делам религий, национальной безопасности и внутренних дел.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <a name="r2"></a><b>
                                2. Порядок
                                приема гуманитарной помощи
                            </b>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            9. Для установления гуманитарного
                            характера груза получатели гуманитарной помощи независимо от их ведомственной
                            подчиненности и форм собственности представляют в уполномоченный государственный
                            орган в сфере труда и социального развития:
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            а) копию устава (положения)
                            организации (для юридических лиц);
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            б) копию свидетельства о
                            государственной регистрации (для юридических лиц);
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            в) сертификат дарения от
                            донора;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            г) копии документов, на основании
                            которых получают гуманитарную помощь (транспортные накладные, инвойс/счет
                            фактуру, сертификаты качества/соответствия, переведенные на государственный или
                            официальный язык);
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            д) письмо-гарантия получателя,
                            подтверждающее целевое использование гуманитарного груза;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            е) программу использования
                            получаемого гуманитарного груза или план-распределение.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            В случае отсутствия программы
                            использования или плана-распределения в отношении поступившего гуманитарного
                            груза распределение осуществляется получателем по согласованию с уполномоченным
                            государственным органом в сфере труда и социального развития.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            10. Для совершения таможенных
                            операций в отношении товаров, ввозимых на таможенную территорию Кыргызской
                            Республики в качестве гуманитарной помощи, в таможенный орган
                            представляются:
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - соответствующее заключение
                            (решение) уполномоченного государственного органа в сфере труда и социального
                            развития (оригинал);
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">- декларация на товары;</p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - документы, в том числе
                            составленные на иностранных языках, подтверждающие факт безвозмездной передачи
                            товаров;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - обязательство получателя о
                            целевом использовании товаров исключительно для улучшения условий жизни и быта
                            малообеспеченных слоев населения, военнослужащих и приравненных к ним лиц;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - транспортные и
                            товаросопроводительные документы;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - документы, подтверждающие
                            осуществление контроля со стороны других государственных органов, в случае, если
                            ввозимые товары подлежат такому контролю (ветеринарный, фитосанитарный,
                            экологический).
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            11. Ввоз в Кыргызскую Республику
                            гуманитарной помощи медицинского назначения допускается на основе
                            письма/подтверждения на соответствие безопасности, выданного уполномоченным
                            государственным органом в области здравоохранения.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Для получения
                            письма/подтверждения в уполномоченный государственный орган в области
                            здравоохранения представляются:
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - соответствующее заключение
                            (решение) уполномоченного государственного органа в сфере труда и социального
                            развития;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - копии транспортных и
                            товаросопроводительных документов;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - заявление получателя на
                            одобрение ввоза гуманитарной помощи;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - план донора по распределению
                            гуманитарной помощи, ранее согласованный и утвержденный Комиссией
                            уполномоченного государственного органа в области здравоохранения;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - документ, подтверждающий
                            регистрацию лекарственных средств, изделий медицинского назначения в
                            стране-производителе и стране-доноре, выданный компетентными органами;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - сертификат производителя,
                            подтверждающий качество и безопасность данной ввозимой партии (серии)
                            лекарственных средств, что ввозимые лекарственные средства и изделия
                            медицинского назначения произведены в соответствии с государственным стандартом
                            качества лекарственных средств, изделий медицинского назначения
                            страны-производителя в установленном порядке;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - копию сертификата
                            происхождения, выданного компетентным органом;
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            - копию спецификации (упаковочный
                            лист), в которой должны быть указаны наименования (торговые и международные
                            непатентованные), страна-производитель, изготовитель, форма выпуска, количество,
                            срок годности и стоимость ввозимых лекарственных средств.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            12. В чрезвычайных ситуациях
                            гуманитарная помощь может быть оказана без предварительного согласия, при
                            условии, что пожертвования входят в список предметов чрезвычайной помощи,
                            рекомендованный ООН для использования в чрезвычайных ситуациях.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            12-1. При чрезвычайных и
                            кризисных ситуациях, а также чрезвычайных происшествиях выдача уполномоченным
                            государственным органом в сфере труда и социального развития Кыргызской
                            Республики заключения о гуманитарном характере груза осуществляется на основании
                            имеющихся сопроводительных документов к грузу.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <i>
                                (В редакции постановления
                                Правительства КР от <a href="/act/view/ru-ru/99977?cl=ru-ru">4 мая 2017 года № 251</a>)
                            </i>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            13. Прием получателем
                            гуманитарной помощи осуществляется в присутствии представителя уполномоченного
                            государственного органа в сфере труда и социального развития (выборочно) и иных
                            заинтересованных лиц, уполномоченных донором.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <a name="r3"></a><b>
                                3. Порядок
                                распределения гуманитарной помощи, в том числе медицинского назначения
                            </b>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            14. Распределение гуманитарной
                            помощи осуществляется в строгом соответствии с условиями программы донора по
                            использованию гуманитарного груза.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            15. Потребители могут получать
                            гуманитарную помощь как непосредственно от доноров, так и через получателей.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            16. При оказании донором
                            гуманитарной помощи конкретному физическому лицу груз гуманитарной помощи
                            передается адресату и дальнейшему контролю за его использованием не
                            подлежит.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            17. Гуманитарная помощь,
                            поступающая юридическому лицу, передается адресату и подлежит контролю
                            государственными службами надзора на предмет ее целевого использования.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            18. Гуманитарная помощь,
                            поступающая в адрес юридических лиц для оказания помощи Кыргызской Республике,
                            распределяется по министерствам, административным ведомствам, органам
                            государственного управления и местного самоуправления, научным и образовательным
                            организациям независимо от форм собственности, общественным фондам,
                            неправительственным организациям и благотворительным фондам под строгим
                            контролем лиц, уполномоченных донором (за исключением гуманитарной помощи,
                            поступающей для Вооруженных Сил Кыргызской Республики, правоохранительных
                            органов, органов национальной безопасности и иных воинских формирований).
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            18-1. Распределение гуманитарной
                            помощи министерствами и административными ведомствами происходит с участием
                            представителей Общественных советов министерств, государственных комитетов и
                            административных ведомств, в чей адрес поступает гуманитарная помощь (за
                            исключением органов национальной безопасности, в случаях чрезвычайных и
                            кризисных ситуаций, а также чрезвычайных происшествий).
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <i>
                                (В редакции постановления
                                Правительства КР от <a href="/act/view/ru-ru/99977?cl=ru-ru">4 мая 2017 года № 251</a>)
                            </i>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            18-2. Распределение гуманитарной
                            помощи органами местного самоуправления, научными и образовательными
                            организациями, в чей адрес поступает гуманитарная помощь, осуществляется с
                            участием представителей некоммерческих организаций и местного сообщества.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <i>
                                (В редакции постановления
                                Правительства КР от <a href="/act/view/ru-ru/99977?cl=ru-ru">4 мая 2017 года № 251</a>)
                            </i>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            19. Донорам рекомендуется
                            поставлять в Кыргызскую Республику лекарственные средства, изделия медицинского
                            назначения и медицинскую технику согласно Перечню жизненно важных лекарственных
                            средств, определяемому Правительством Кыргызской Республики.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            20. Гуманитарная помощь
                            медицинского назначения оказывается донорами после предварительного согласования
                            и утверждения плана-распределения уполномоченным государственным органом в
                            области здравоохранения с учетом потребности, наименований и количества
                            предоставляемой гуманитарной помощи.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            21. Гуманитарные лекарственные
                            средства на момент поступления должны иметь остаточный срок годности не менее
                            одного года, за исключением случаев адресной помощи. Для сывороток и вакцин,
                            имеющих срок годности один год и менее, остаточный срок годности должен
                            составлять не менее пятидесяти процентов. Данные требования не распространяются
                            на изделия медицинского назначения, для которых не устанавливаются требования по
                            сроку годности.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            При ввозе изделий медицинского
                            назначения по линии гуманитарной помощи заявителем должны быть представлены
                            документы, подтверждающие безопасность продукции, и/или гарантийное письмо
                            (декларация) донора о, том, что изделия медицинского назначения исправны.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Порядок обращения изделий
                            медицинского назначения, поступающих по линии гуманитарной помощи,
                            осуществляется в соответствии с <a href="/act/view/ru-ru/93438?cl=ru-ru">постановлением</a>
                            Правительства Кыргызской Республики "Об утверждении<a href="/act/view/ru-ru/93782?cl=ru-ru">
                                Технического регламента
                            </a> "О безопасности изделий медицинского назначения" от
                            1 февраля 2012 года № 74.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Ввоз изделий медицинского
                            назначения, бывших в употреблении, одобряется и утверждается решением
                            уполномоченного государственного органа в области здравоохранения.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            22. Прием грузов гуманитарной
                            помощи медицинского назначения получателем осуществляется в присутствии
                            представителя уполномоченного государственного органа в области
                            здравоохранения.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            23. Контроль за дальнейшим
                            целевым использованием гуманитарной помощи в Кыргызской Республике осуществляет
                            уполномоченный государственный орган в сфере труда и социального развития, за
                            исключением гуманитарной помощи, поступающей в уполномоченный государственный
                            орган, осуществляющий управление государственным материальным резервом.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            <a name="r4"></a><b>
                                4.
                                Ответственность за получение и распределение гуманитарной помощи
                            </b>
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            24. Ответственность перед донором
                            за получение гуманитарной помощи, сохранность, правильное и своевременное
                            распределение (целевое использование товара), а также доставку ее до
                            потребителей возлагается на получателя гуманитарной помощи.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Если гуманитарная помощь
                            распределяется потребителям с участием органов местного самоуправления, то
                            ответственность за ее правильное и своевременное распределение возлагается также
                            и на них.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            Ответственность за прием и
                            распределение гуманитарной помощи лекарственных средств, изделий медицинского
                            назначения и медицинского оборудования, сроки годности лекарственных средств и
                            изделий медицинского назначения несут уполномоченный государственный орган в
                            области здравоохранения и получатели гуманитарной помощи в соответствии с
                            законодательством Кыргызской Республики.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            25. Ответственность за количество
                            и качество получаемой гуманитарной помощи, а также достоверность представляемых
                            документов в уполномоченный государственный орган в сфере труда и социального
                            развития возлагается на доноров и получателей в соответствии с законодательством
                            Кыргызской Республики.
                        </p>
                        <p style="TEXT-INDENT: 35.4pt" class="MsoNormal">
                            26. Получателями гуманитарной
                            помощи независимо от формы собственности представляется в уполномоченный
                            государственный орган в сфере труда и социального развития ежеквартальный отчет
                            о распределении гуманитарной помощи до 10 числа месяца, следующего за отчетным
                            периодом, по форме согласно приложению к настоящему <a name="р1">Положению.</a>
                        </p>
                        <p class="MsoNormal">&nbsp;</p>
                        <p style="TEXT-ALIGN: right" class="MsoNormal" align="right"><a name="pr"></a><a href="/act/view/ru-ru/99022?cl=ru-ru#р1">Приложение</a></p>
                        <h2>ФОРМА<br>предоставления отчетности получателей гуманитарной помощи</h2>
                        <p class="a7">
                            (В редакции постановления Правительства КР от <u>
                                <span style="COLOR: blue">
                                    <a href="/act/view/ru-ru/99977?cl=ru-ru">
                                        4 мая 2017 года №
                                        251
                                    </a>
                                </span>
                            </u>)
                        </p>
                        <table style="WIDTH: 100%; BORDER-COLLAPSE: collapse" class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 12%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" rowspan="2" width="12%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center">
                                            <b>
                                                № и дата заключения уполномоченного
                                                госоргана в сфере труда и социального развития
                                            </b>
                                        </p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.56%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" rowspan="2" width="9%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Получатель гуманитарной помощи</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 20.2%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="20%" colspan="3">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Распределение</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" rowspan="2" width="10%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center">
                                            <b>
                                                Наименование гуманитарной помощи
                                                (товара)
                                            </b>
                                        </p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 7.7%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" rowspan="2" width="7%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Единица измерения</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10.14%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="10%" colspan="2">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>По плану</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10.14%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="10%" colspan="2">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Фактически распределено</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 20.28%; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="20%" colspan="4">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center">
                                            <b>
                                                Остаток/Резерв (для ЧС) на
                                                ___________
                                            </b>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.84%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center">
                                            <b>
                                                Организация получившая гуманитарную
                                                помощь
                                            </b>
                                        </p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 5.4%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="5%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Регион</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 4.96%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="4%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Адрес</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Вес</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Сумма(*) (сом)</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Вес</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Сумма(*) (сом)</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Вес</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Сумма(*) (сом)</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Вес</b></p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="TEXT-ALIGN: center; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="center"><b>Сумма(*) (сом)</b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 12%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="12%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.56%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.84%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 5.4%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="5%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 4.96%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="4%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="10%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 7.7%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="7%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 12%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="12%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.56%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.84%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 5.4%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="5%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 4.96%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="4%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="10%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 7.7%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="7%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 12%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="12%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.56%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.84%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 5.4%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="5%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 4.96%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="4%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="10%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 7.7%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="7%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 12%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="12%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.56%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 9.84%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="9%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 5.4%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="5%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 4.96%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="4%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 10%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="10%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 7.7%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="7%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 3.46%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="3%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 6.68%; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 0cm" valign="top" width="6%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 1cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                        <table style="WIDTH: 100%; BORDER-COLLAPSE: collapse" class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="PADDING-BOTTOM: 0cm; PADDING-LEFT: 1cm; WIDTH: 35%; PADDING-RIGHT: 5.4pt; PADDING-TOP: 0cm" valign="top" width="35%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">ФИО руководителя организации</p>
                                    </td>
                                    <td style="PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 21.04%; PADDING-RIGHT: 5.4pt; PADDING-TOP: 0cm" valign="top" width="21%">
                                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                                    </td>
                                    <td style="PADDING-BOTTOM: 0cm; PADDING-LEFT: 5.4pt; WIDTH: 43.96%; PADDING-RIGHT: 5.4pt; PADDING-TOP: 0cm" valign="top" width="43%">
                                        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 115%; TEXT-INDENT: 0cm; MARGIN-BOTTOM: 3pt" class="MsoNormal" align="left">подпись</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 1cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 1cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">Дата:</p>
                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 1cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">М.П.</p>
                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 1cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">&nbsp;</p>
                        <p style="LINE-HEIGHT: 115%; TEXT-INDENT: 1cm; MARGIN-BOTTOM: 3pt" class="MsoNormal">(*) сумма указана донором только для таможенных целей</p>
                        <h2>&nbsp;</h2>
                    </div>
                </div>
            </div>
            <div class="section" id="sectionTmpl">
                <h1>Шаблоны документов для получения заключения о гуманитарном характере груза:</h1>
                <p>
                    Письмо-заявка <a href="~/Content/manuals/doc_tmpl/pismo_zayavka.docx">СКАЧАТЬ</a><br />
                    Гарантийное письмо <a href="~/Content/manuals/doc_tmpl/garantiynoe_pismo.docx">СКАЧАТЬ</a><br />
                    Сертификат дарения <a href="~/Content/manuals/doc_tmpl/sertifikat_dareniya.docx">СКАЧАТЬ</a><br />
                    Форма плана распределения <a href="~/Content/manuals/doc_tmpl/Plan_raspredeleniya.docx">СКАЧАТЬ</a><br />
                </p>
            </div>
            <div class="section" id="section1">
                <h1>1. Регистрация пользователя</h1>
                <p>
                    Для начала работы с порталом пользователю необходимо зарегистрироваться в разделе "@Html.ActionLink("Регистрация", "Register", "Account", null, new { target = "_blank" })".
                    <img src="~/Content/manuals/img1.png" />
                    <img src="~/Content/manuals/img2.png" />
                    После заполнения данных пользователя система автоматически отправит сообщение на указанную электронную почту пользователя с ссылкой на подтверждение учетной записи.
                    Пользователь дожен воспользоваться полученной ссылкой и перейти по нему для подтверждения и активации своей учетной записи. В противном случае пользователь не сможет войти и продолжить работу.
                    <img src="~/Content/manuals/img3.png" />
                </p>
            </div>
            <div class="section" id="section2">
                <h1>Вход в систему</h1>
                <p>
                    После того как пользователь успешно зарегистрировался и подтвердил свой аккаунт через ссылку, отправленную на почту, можно производить "@Html.ActionLink("Вход", "Login", "Account", null, new { target = "_blank" })" в систему.
                    <img src="~/Content/manuals/img4.png" />
                    После входа пользователь попадет на страницу регистрации организация-получателя
                </p>
            </div>
            <div class="section" id="section2_1">
                <h1>Информация об организации-получателей</h1>
                <p>
                    При входе в систему проверяется наличие организации-получателя у пользователя. При наличии этой информации в системе, пользователю открывается страница пользователя с рабочими элементами:
                    <img src="~/Content/manuals/img5.png" />
                    В случае отсутствия этой информации открывается форма заполнения профиля организации:
                    <img src="~/Content/manuals/img6.png" />
                    Далее, после регистрации снова открывается страница пользователя для работы по учету гуманитарного груза.
                </p>
            </div>
            <div class="section" id="section3">
                <h1>Ввод плана распределения</h1>
                <p>
                    <img src="~/Content/manuals/img7.png" />
                    <img src="~/Content/manuals/img8.png" />
                    <img src="~/Content/manuals/img9.png" />
                    <img src="~/Content/manuals/img10.png" />
                    <br />
                </p>
            </div>
            <div class="section" id="section3_1">
                <h1>Распечатать план распределения</h1>
                <p>
                    Для того чтобы распечатать план распределения необходимо нажать кнопку "Распечатать" внутри плана:
                    <img src="~/Content/manuals/img11.png" />
                    Данная функция скачивает принятую Министерством ТиСР форму плана в формате Excel (.xls) для дальнейшей распечатки и ее использования:
                    <img src="~/Content/manuals/img12.png" />
                </p>
            </div>
            <div class="section" id="section3_2">
                <h1>Отправить план распределения в ДЛО МЗ КР</h1>
                <p>
                    В случае, когда груз содержит изделия/оборудования медицинского характера, ее должен утвердить комиссия в ДЛО. Для этого необходимо нажать кнопку "Отправить в ДЛО МЗКР":
                    <img src="~/Content/manuals/img13.png" />
                </p>
            </div>
            <div class="section" id="section3_3">
                <h1>Отправить план распределения в МТСР КР</h1>
                <p>
                    В случае, когда груз не содержит изделия/оборудования медицинского характера, ее должен утвердить организация-получатель, который будет распределять этот груз.
                    После того как бумажная версия плана будет утверждена внутренней печатью и подписью уполномоченного лица организации (директор/руководитель), необходимо отправить электронную версию в министерство ТиСР. Для этого необходимо нажать кнопку "Отправить в министерство ТСР":
                    <img src="~/Content/manuals/img14.png" />
                    После отправки плана в Министерство ТиСР, данный план получит соответствующий цвет (голубой) как показано ниже:
                    <img src="~/Content/manuals/img15.png" />
                    Далее необходимо отправить бумажный пакет документов в МТСР в установленном законом порядке.
                    Представитель МТСР проверит наличие плана в базе данных, и в случае соответствия всех электронных показателей
                    с бумажной, будет начата процедура оформления заключения о гуманитарном характере груза.
                    В случае, если будут выявлены некоторые несоответствия в документах или в самом плане (не бьют цифры)
                    то МТСР делает возврат электронного плана на доработку с описанием ошибок.
                    В этом случае у данного плана изменится цвет на красный как показано ниже:
                    <img src="~/Content/manuals/img16.png" />
                    ... и при открытии этого плана, в разделе "Возвраты" будет отображен комментарий об ошибке
                    <img src="~/Content/manuals/img17.png" />
                </p>
            </div>
            <div class="section" id="section3_4">
                <h1>Изменить значения плана распределения</h1>
                <p>
                    В случае, когда изменить значения плана (строки), то воспользуйтесь кнопкой "изменить", которая расположена в каждой строке:
                    <img src="~/Content/manuals/img18.png" />
                    Однако, после внесения изменений в каких-либо строках, цвет текста этой строки будет изменен на красный цвет:
                    <img src="~/Content/manuals/img19.png" />
                    Теперь, после всех корректировок можно повторно отправить в МТСР используя кнопку "Отправить в министерство ТСР":
                    <img src="~/Content/manuals/img20.png" />
                </p>
            </div>
            <div class="section" id="section4">
                <h1>Выдано заключение</h1>
                <p>
                    Представитель МТСР проверит наличие плана в базе данных, и в случае соответствия всех электронных показателей
                    с бумажной, будет начата процедура оформления заключения о гуманитарном характере груза.
                    Когда заключение выдано, оно будет введено в базу для конвертации курса валют днем ее выдачи.
                    Вы можете увидеть ее в портале, план поменяет цвет на зеленый:
                    <img src="~/Content/manuals/img21.png" />
                    ... при открытии которого можно увидеть детали заключения и авто-конвертации валюты в сом:
                    <img src="~/Content/manuals/img22.png" />
                </p>
            </div>
            <div class="section" id="section5">
                <h1>Ввести отчет о распределении</h1>
                <p>
                    После того как получили заключение, необходимо каждый квартал вводить отчет о фактическом распределении гум. помощи. Для этого необходимо открыть на главной странице пользователя раздел "Отчет о распределении" как показано ниже:
                    <img src="~/Content/manuals/img23.png" />
                    ... при открытии которого нужно нажать "Ввести новый отчет":
                    <img src="~/Content/manuals/img24.png" />
                    При этом открывается список ваших планов распределения, ранее введенные, из которого надо выбрать нужный, по которому вы отчитываетесь в этом квартале:
                    <img src="~/Content/manuals/img25.png" />
                    После выбора откроется форма отчета в которой необходимо заполнить сроки и фактические показатели распределения по каждой позиции товаров.
                    Если какая-та опзиция не использовалась, то по умолчанию будет установлено 0.
                    В конце нажмите "Создать":
                    <img src="~/Content/manuals/img26.png" />
                    В итоге план нужно отправить в МТСР нажав кнопку "Отправить в министерство":
                    <img src="~/Content/manuals/img27.png" />
                </p>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        .manual p {
            font-size:20px;
            color:#000000;
        }
        .manual div img {
            border: 2px dotted grey;
            border-radius: 10px;
            width:100%;
        }
  body {
      position: relative;
  }
        ul.nav-pills {
            top: 80px;
            position: fixed;
            max-width: 12%;
            overflow: auto;
            height: 90%;
        }
  div.col-sm-9 div {
      min-height: 800px;
  }
    .section{
        margin-top:50px;
    }
        .section {
            padding-top: 40px; margin-top: -40px;
        }
  @@media screen and (max-width: 810px) {
    .section {
        margin-left: 150px;
    }
  }
</style>
    }