
@{
    ViewBag.Title = "Инструкция";
}
<div class="container">
    <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#section1">Введение</a></li>
                <li><a href="#section2">1. Регистрация пользователя</a></li>
                <li><a href="#section3">Заполнение профиля организации</a></li>
                <li><a href="#section4">Ввод плана распределения</a></li>
            </ul>
        </nav>
        <div class="col-sm-9 manual">
            <header>
                <h2 class="text-center">Порядок получения заключения о гуманитарном характере груза и форма предоставления отчетности по фактическому распределению ГП</h2>
                <img src="~/Content/manuals/image002.png" class="pull-right" />
                <h3 class="text-center">Инструкция</h3>
<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp; Пошаговая инструкция ориентирована на получателей  гуманитарной помощи для первичной информационной поддержки в оформлении документальной части и ввода данных в информационную систему для успешного приема гуманитарного груза.</p>
<i>Из ПОЛОЖЕНИЯ о порядке приема и распределения гуманитарной помощи в Кыргызской Республике, п. 2 (в ред. ППКР от 4 мая 2017 года № 251):</i>
            </header>
            <div id="section1">
                <h1>Введение</h1>
                <p>@(@"Модуль учета гуманитарной помощи позволяет сотрудникам Министерства труда и социального развития КР регистрировать прием и распределение гуманитарной помощи, формировать необходимые отчеты, выставлять информацию о ввозимой на территорию КР гуманитарной помощи, на портале. Также организации-получатели смогут регистрировать удаленно заявки на оформление грузов в качестве гуманитарной помощи. Таким образом, система обеспечит прозрачность распределения гуманитарной помощи, также увеличит эффективность работы сотрудников и уменьшит время рассмотрения заявок на регистрацию гуманитарных грузов.
В рамках проекта автоматизируется информационно-аналитическая деятельность в следующих бизнес-процессах: 
1. Организации, желающие получить заключение/решение о гуманитарном характере груза, регистрируют заявку в интернет портале системы. Данные пользователи также имеют доступ для просмотра заявки и статуса заявки.
2. Сотрудники Министерства труда и социального развития Кыргызской Республики ведут учет ввоза  и распределение гуманитарной помощи, также берут на рассмотрение заявки,  с соответствующим пакетом документов на экспертизу грузов в качестве гуманитарной помощи;
3. Сотрудники Министерства чрезвычайных ситуаций осуществляют регистрацию в модуле, в установленном порядке доставленную в случаях возникновения чрезвычайных ситуаций гуманитарной помощи населению Кыргызской Республики и иностранных государств совместно с заинтересованными органами исполнительной власти, международными и неправительственными организациями;
4. Сотрудники Департамента лекарственного обеспечения и медицинской техники (далее ДЛО), на основе выданного МТСР заключения о гуманитарном характере груза, выдают письмо/справку одобрение на ввоз гуманитарной помощи в виде лекарственных средств, изделий медицинского назначения и медицинского оборудования, ведут учет и распределение гуманитарной помощи медицинского характера, также берут на рассмотрение заявки, на оформление медицинских грузов в качестве гуманитарных и производят их регистрацию в модуле
")</p>
            </div>
            <div id="section2">
                <h1>1. Регистрация пользователя</h1>
                <p>
                    Для начала работы с порталом пользователю необходимо зарегистрироваться в разделе "@Html.ActionLink("Регистрация", "Register", "Account", null, new { target = "_blank" })".
                    <img src="~/Content/manuals/img1.png" />
                    <img src="~/Content/manuals/img2.png" />
                    После заполнения данных пользователя система автоматически отправит сообщение на указанную электронную почту пользователя с ссылкой на подтверждение учетной записи.
                    Пользователь дожен воспользоваться полученной ссылкой и перейти по нему для подтверждения и активации своей учетной записи. В противном случае пользователь не сможет войти и продолжить работу.
                    <img src="~/Content/manuals/img3.png" />
                </p>
            </div>
            <div id="section3">
                <h1>Заполнение профиля организации</h1>
                <p>
                    После того как пользователь успешно зарегистрировался и подтвердил свой аккаунт через ссылку, отправленную на почту, можно производить "@Html.ActionLink("Вход", "Login", "Account", null, new { target = "_blank" })" в систему.
                    <img src="~/Content/manuals/img4.png" />
                    После входа пользователь попадет на страницу регистрации юридического лица (организация-получатель)
                </p>
            </div>
            <div id="section4">
                <h1>Ввод плана распределения</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        .manual p {
            font-size:20px;
            color:#000000;
        }
        .manual div img {
            border: 2px dotted grey;
            border-radius: 10px;
            width:100%;
        }
  body {
      position: relative;
  }
  ul.nav-pills {
      top: 80px;
      position: fixed;
      max-width:12%;
  }
  div.col-sm-9 div {
      min-height: 800px;
  }
    #section1,#section2,#section3,#section4{
        margin-top:50px;
    }
        #section1, #section2, #section3, #section4 {
            padding-top: 40px; margin-top: -40px;
        }
  @@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4 {
        margin-left: 150px;
    }
  }
</style>
    }