
@{
    ViewBag.Title = "Инструкция";
}
<div class="container">
    <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#sectionInception">Введение</a></li>
                <li><a href="#section1">1. Регистрация пользователя</a></li>
                <li><a href="#section2">2. Вход в систему</a></li>
                <li><a href="#section2_1">2.1. Заполнение профиля организации</a></li>
                <li><a href="#section3">3. Ввод плана распределения</a></li>
                <li><a href="#section3_1">3.1. Распечатать план распределения</a></li>
                <li><a href="#section3_2">3.2. Отправить план распределения в Департамент лекарственного обеспечения при МЗ КР</a></li>
                <li><a href="#section3_3">3.3. Отправить план распределения в Министерство ТиСР КР</a></li>
                <li><a href="#section3_4">3.4. Изменить значения плана распределения</a></li>
                <li><a href="#section4">4. Выдано заключение</a></li>
            </ul>
        </nav>
        <div class="col-sm-9 manual">
            <header>
                <h2 class="text-center">Порядок получения заключения о гуманитарном характере груза и форма предоставления отчетности по фактическому распределению ГП</h2>
                <img src="~/Content/manuals/image002.png" class="pull-right" />
                <h3 class="text-center">Инструкция</h3>
<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp; Пошаговая инструкция ориентирована на получателей  гуманитарной помощи для первичной информационной поддержки в оформлении документальной части и ввода данных в информационную систему для успешного приема гуманитарного груза.</p>
<i>Из ПОЛОЖЕНИЯ о порядке приема и распределения гуманитарной помощи в Кыргызской Республике, п. 2 (в ред. ППКР от 4 мая 2017 года № 251):</i>
            </header>
            <div class="section" id="sectionInception">
                <h1>Введение</h1>
                <p>@(@"Модуль учета гуманитарной помощи позволяет сотрудникам Министерства труда и социального развития КР регистрировать прием и распределение гуманитарной помощи, формировать необходимые отчеты, выставлять информацию о ввозимой на территорию КР гуманитарной помощи, на портале. Также организации-получатели смогут регистрировать удаленно заявки на оформление грузов в качестве гуманитарной помощи. Таким образом, система обеспечит прозрачность распределения гуманитарной помощи, также увеличит эффективность работы сотрудников и уменьшит время рассмотрения заявок на регистрацию гуманитарных грузов.
В рамках проекта автоматизируется информационно-аналитическая деятельность в следующих бизнес-процессах: 
1. Организации, желающие получить заключение/решение о гуманитарном характере груза, регистрируют заявку в интернет портале системы. Данные пользователи также имеют доступ для просмотра заявки и статуса заявки.
2. Сотрудники Министерства труда и социального развития Кыргызской Республики ведут учет ввоза  и распределение гуманитарной помощи, также берут на рассмотрение заявки,  с соответствующим пакетом документов на экспертизу грузов в качестве гуманитарной помощи;
3. Сотрудники Министерства чрезвычайных ситуаций осуществляют регистрацию в модуле, в установленном порядке доставленную в случаях возникновения чрезвычайных ситуаций гуманитарной помощи населению Кыргызской Республики и иностранных государств совместно с заинтересованными органами исполнительной власти, международными и неправительственными организациями;
4. Сотрудники Департамента лекарственного обеспечения и медицинской техники (далее ДЛО), на основе выданного МТСР заключения о гуманитарном характере груза, выдают письмо/справку одобрение на ввоз гуманитарной помощи в виде лекарственных средств, изделий медицинского назначения и медицинского оборудования, ведут учет и распределение гуманитарной помощи медицинского характера, также берут на рассмотрение заявки, на оформление медицинских грузов в качестве гуманитарных и производят их регистрацию в модуле
")</p>
            </div>
            <div class="section" id="section1">
                <h1>1. Регистрация пользователя</h1>
                <p>
                    Для начала работы с порталом пользователю необходимо зарегистрироваться в разделе "@Html.ActionLink("Регистрация", "Register", "Account", null, new { target = "_blank" })".
                    <img src="~/Content/manuals/img1.png" />
                    <img src="~/Content/manuals/img2.png" />
                    После заполнения данных пользователя система автоматически отправит сообщение на указанную электронную почту пользователя с ссылкой на подтверждение учетной записи.
                    Пользователь дожен воспользоваться полученной ссылкой и перейти по нему для подтверждения и активации своей учетной записи. В противном случае пользователь не сможет войти и продолжить работу.
                    <img src="~/Content/manuals/img3.png" />
                </p>
            </div>
            <div class="section" id="section2">
                <h1>Вход в систему</h1>
                <p>
                    После того как пользователь успешно зарегистрировался и подтвердил свой аккаунт через ссылку, отправленную на почту, можно производить "@Html.ActionLink("Вход", "Login", "Account", null, new { target = "_blank" })" в систему.
                    <img src="~/Content/manuals/img4.png" />
                    После входа пользователь попадет на страницу регистрации организация-получателя
                </p>
            </div>
            <div class="section" id="section2_1">
                <h1>Информация об организации-получателей</h1>
                <p>
                    При входе в систему проверяется наличие организации-получателя у пользователя. При наличии этой информации в системе, пользователю открывается страница пользователя с рабочими элементами:
                    <img src="~/Content/manuals/img5.png" />
                    В случае отсутствия этой информации открывается форма заполнения профиля организации:
                    <img src="~/Content/manuals/img6.png" />
                    Далее, после регистрации снова открывается страница пользователя для работы по учету гуманитарного груза.
                </p>
            </div>
            <div class="section" id="section3">
                <h1>Ввод плана распределения</h1>
                <p>
                    <img src="~/Content/manuals/img7.png" />
                    <img src="~/Content/manuals/img8.png" />
                    <img src="~/Content/manuals/img9.png" />
                    <img src="~/Content/manuals/img10.png" />
                    <br />
                </p>
            </div>
            <div class="section" id="section3_1">
                <h1>Распечатать план распределения</h1>
                <p>
                    Для того чтобы распечатать план распределения необходимо нажать кнопку "Распечатать" внутри плана:
                    <img src="~/Content/manuals/img11.png" />
                    Данная функция скачивает принятую Министерством ТиСР форму плана в формате Excel (.xls) для дальнейшей распечатки и ее использования:
                    <img src="~/Content/manuals/img12.png" />
                </p>
            </div>
            <div class="section" id="section3_2">
                <h1>Отправить план распределения в ДЛО МЗ КР</h1>
                <p>
                    В случае, когда груз содержит изделия/оборудования медицинского характера, ее должен утвердить комиссия в ДЛО. Для этого необходимо нажать кнопку "Отправить в ДЛО МЗКР":
                    <img src="~/Content/manuals/img13.png" />
                </p>
            </div>
            <div class="section" id="section3_3">
                <h1>Отправить план распределения в МТСР КР</h1>
                <p>
                    В случае, когда груз не содержит изделия/оборудования медицинского характера, ее должен утвердить организация-получатель, который будет распределять этот груз.
                    После того как бумажная версия плана будет утверждена внутренней печатью и подписью уполномоченного лица организации (директор/руководитель), необходимо отправить электронную версию в министерство ТиСР. Для этого необходимо нажать кнопку "Отправить в министерство ТСР":
                    <img src="~/Content/manuals/img14.png" />
                    После отправки плана в Министерство ТиСР, данный план получит соответствующий цвет (голубой) как показано ниже:
                    <img src="~/Content/manuals/img15.png" />
                    Далее необходимо отправить бумажный пакет документов в МТСР в установленном законом порядке.
                    Представитель МТСР проверит наличие плана в базе данных, и в случае соответствия всех электронных показателей
                    с бумажной, будет начата процедура оформления заключения о гуманитарном характере груза.
                    В случае, если будут выявлены некоторые несоответствия в документах или в самом плане (не бьют цифры)
                    то МТСР делает возврат электронного плана на доработку с описанием ошибок.
                    В этом случае у данного плана изменится цвет на красный как показано ниже:
                    <img src="~/Content/manuals/img16.png" />
                    ... и при открытии этого плана, в разделе "Возвраты" будет отображен комментарий об ошибке
                    <img src="~/Content/manuals/img17.png" />
                </p>
            </div>
            <div class="section" id="section3_4">
                <h1>Изменить значения плана распределения</h1>
                <p>
                    В случае, когда изменить значения плана (строки), то воспользуйтесь кнопкой "изменить", которая расположена в каждой строке:
                    <img src="~/Content/manuals/img18.png" />
                    Однако, после внесения изменений в каких-либо строках, цвет текста этой строки будет изменен на красный цвет:
                    <img src="~/Content/manuals/img19.png" />
                    Теперь, после всех корректировок можно повторно отправить в МТСР используя кнопку "Отправить в министерство ТСР":
                    <img src="~/Content/manuals/img20.png" />
                </p>
            </div>
            <div class="section" id="section4">
                <h1>Выдано заключение</h1>
                <p>
                    Представитель МТСР проверит наличие плана в базе данных, и в случае соответствия всех электронных показателей
                    с бумажной, будет начата процедура оформления заключения о гуманитарном характере груза.
                    Когда заключение выдано, оно будет введено в базу для конвертации курса валют днем ее выдачи.
                    Вы можете увидеть ее в портале, план поменяет цвет на зеленый:
                    <img src="~/Content/manuals/img21.png" />
                    ... при открытии которого можно увидеть детали заключения и авто-конвертации валюты в сом:
                    <img src="~/Content/manuals/img22.png" />
                </p>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        .manual p {
            font-size:20px;
            color:#000000;
        }
        .manual div img {
            border: 2px dotted grey;
            border-radius: 10px;
            width:100%;
        }
  body {
      position: relative;
  }
        ul.nav-pills {
            top: 80px;
            position: fixed;
            max-width: 12%;
            overflow: auto;
            height: 500px;
        }
  div.col-sm-9 div {
      min-height: 800px;
  }
    .section{
        margin-top:50px;
    }
        .section {
            padding-top: 40px; margin-top: -40px;
        }
  @@media screen and (max-width: 810px) {
    .section {
        margin-left: 150px;
    }
  }
</style>
    }