@{
    ViewBag.Title = "Подтверждение Email по ссылке";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Пожалуйста, проверьте вашу почту и подтвердите ваш email-адрес.
</p>
<p class="text-danger">
    @*Только для демонстрации: Вы можете подтвердить ваш email перейдя по этой: <a href="@ViewBag.Link">ссылке</a>*@
    @*Please change this code to register an email service in IdentityConfig to send an email.*@
</p>
