@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<hgroup>
    <h1 class="text-error">Ошибка</h1>
</hgroup>
<div class="text-danger"><span class="label label-danger">Текст</span> @ViewData.Model.Exception.Message</div>
@*<div class="text-info"><span class="label label-info">Трассировка стэков</span> @ViewData.Model.Exception.StackTrace</div>*@
@if (ViewData.Model.Exception.InnerException != null)
{
    var e = ViewData.Model.Exception;
    while (e.InnerException != null)
    {
        e = e.InnerException;
    }
    <div class="text-info"><span class="label label-warning">InnerException:</span> @e.Message</div>
}
