@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">Error.</h1>
    <h2 class="text-error">An error occurred while processing your request.</h2>
</hgroup>
<div class="text-danger">@ViewData.Model.Exception.Message</div>
<div class="text-info">@ViewData.Model.Exception.StackTrace</div>
