
@{
    ViewBag.Title = "Type0_6Profile";
}
<p align="center"><strong>ПРОФИЛЬ ФУНКЦИОНАЛЬНОСТИ</strong></p>
<p align="center"><strong>(дети до 6 лет)</strong></p>
<table border="1" cellpadding="0" cellspacing="0" width="510">
    <tbody>
        <tr>
            <td colspan="2" rowspan="3" style="width:255px;">
                <p align="center"><strong>Функции организма</strong></p>
            </td>
            <td colspan="9" style="width:255px;">
                <p align="center"><strong>Определитель МКФ</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="2" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td colspan="5" style="width:142px;">
                <p align="center"><strong>нарушение</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:28px;">
                <p><strong>0</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>1</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>2</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>3</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>4</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b117</p>
            </td>
            <td style="width:208px;">
                <p><a>&nbsp;Интеллектуальные функции</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b134</p>
            </td>
            <td style="width:208px;">
                <p><a>Функции сна</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p><a>b167</a></p>
            </td>
            <td style="width:208px;">
                <p><a>Умственные функции речи</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b210</p>
            </td>
            <td style="width:208px;">
                <p><a>&nbsp;Функции зрения</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b230</p>
            </td>
            <td style="width:208px;">
                <p><a>&nbsp;Функции слуха</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b280</p>
            </td>
            <td style="width:208px;">
                <p><a>&nbsp;Ощущение боли</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b710</p>
            </td>
            <td style="width:208px;">
                <p><a>Функции подвижности сустава</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b735</p>
            </td>
            <td style="width:208px;">
                <p>Функции мышечного тонуса</p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>b760</p>
            </td>
            <td style="width:208px;">
                <p><a>Контроль произвольных двигательных функций</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" style="width:255px;height:20px;">
                <p align="center"><strong>Структуры организма</strong></p>
            </td>
            <td colspan="4" rowspan="2" style="width:113px;height:20px;">
                <p align="center">&nbsp;</p>
            </td>
            <td colspan="5" style="width:142px;height:20px;">
                <p align="center"><strong>нарушение</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:28px;">
                <p><strong>0</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>1</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>2</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>3</strong></p>
            </td>
            <td style="width:28px;">
                <p><strong>4</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;">
                <p>s110</p>
            </td>
            <td style="width:208px;">
                <p><a>Структура головного мозга</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" style="width:255px;">
                <p align="center">&nbsp;</p>
                <p align="center"><strong>Активность и участие</strong></p>
            </td>
            <td colspan="4" rowspan="2" style="width:113px;">
                <p>&nbsp;</p>
            </td>
            <td colspan="5" style="width:142px;">
                <p align="center"><strong>затруднение</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:28px;height:22px;">
                <p><strong>0</strong></p>
            </td>
            <td style="width:28px;height:22px;">
                <p><strong>1</strong></p>
            </td>
            <td style="width:28px;height:22px;">
                <p><strong>2</strong></p>
            </td>
            <td style="width:28px;height:22px;">
                <p><strong>3</strong></p>
            </td>
            <td style="width:28px;height:22px;">
                <p><strong>4</strong></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d133</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Владеиие языком</p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d155</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Приобретение практических навыков</p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d415</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Мобильность - <a>поддержание положения тела</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d440</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Мобильность - <a>использование точных движений кисти</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d450</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Ходьба</p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d460</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Мобильность - передвижение в различных местах</p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d530</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p><a>Самообслуживание</a>- <a>физиологические отправления</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d550</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p><a>Самообслуживание</a>- <a>прием пищи</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d710</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p><a>Базисные межличностные взаимодействия</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d760</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p><a>Семейные отношения</a></p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;">
                <p>d880</p>
            </td>
            <td rowspan="2" style="width:208px;">
                <p>Участие в играх</p>
            </td>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>р</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:113px;">
                <p align="right"><strong>с</strong></p>
            </td>
            <td style="width:28px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:47px;height:27px;">
                <p style="margin-left:-147.2pt;">&nbsp;</p>
            </td>
            <td rowspan="2" style="width:208px;height:27px;">
                <p><strong>Факторы окружающей среды</strong></p>
            </td>
            <td colspan="4" style="width:113px;height:27px;">
                <p align="center"><strong>облегчение</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td colspan="4" style="width:113px;height:27px;">
                <p align="center"><strong>барьер</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:28px;height:27px;">
                <p><strong>+4</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>+3</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>+2</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>+1</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>0</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>1</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>2</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>3</strong></p>
            </td>
            <td style="width:28px;height:27px;">
                <p><strong>4</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e115</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>&nbsp;Изделия и технологии для личного повседневного использования</a></p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e120</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Изделия и технологии для персонального передвижения и перевозки внутри и вне помещений</a></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e125</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Средства и технологии коммуникации</a></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e150</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Дизайн, характер проектирования, строительства и обустройства зданий для общественного пользования</a></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e155</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Дизайн, характер проектирования, строительства и обустройства зданий частного использования</a></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e310</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Семья и ближайшие родственники</a></p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e320</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Друзья</a></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e355</p>
            </td>
            <td style="width:208px;height:27px;">
                <p>Профессиональные медицинские работники</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e410</p>
            </td>
            <td style="width:208px;height:27px;">
                <p>Индивидуальные установки семьи и ближайших родственников</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e460</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Общественные установки</a></p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:47px;height:27px;">
                <p align="right">e580</p>
            </td>
            <td style="width:208px;height:27px;">
                <p><a>Службы, административные системы и политика здравоохранения</a></p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;background-color:green;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
            <td style="width:28px;height:27px;">
                <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>