
@{
    ViewBag.Title = "Мои данные";
}

<h2>Мои данные</h2>

<p>
    @Html.ActionLink("Отчеты", "Index", "Reports")
</p>

<p>
    @Html.ActionLink("Справочник ед. измерения", "Index", "UnitTypes")
</p>